.subcontent__events {
  display: flex; /* Utiliza un modelo de caja flexible para el diseño */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  margin: 40px; /* Espaciado exterior alrededor del contenedor */
  box-shadow: 5px 10px 18px #888888; /* Sombra de la caja con desplazamiento y desenfoque */
}

.events__texto {
  margin: 50px; /* Espaciado exterior alrededor del texto */
  padding: -4px; /* Espaciado interior negativo (puede no ser visualmente efectivo) */
}

.titulo__texto {
  font-family: "Saira Condensed", sans-serif; /* Fuente del título */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  font-weight: 10px; /* Grosor de la fuente (10px puede no ser una opción válida) */
  margin-left: 10px; /* Espaciado exterior a la izquierda */
}

.subtitulo__texto {
  font-family: "Alfa Slab One", serif; /* Fuente del subtítulo */
  color: var(--MARRON_OSCURO_PALIDO); /* Color del texto usando una variable CSS */
  font-size: 30px; /* Tamaño de la fuente */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  font-weight: 10px; /* Grosor de la fuente (10px puede no ser una opción válida) */
  margin-left: 10px; /* Espaciado exterior a la izquierda */
}

.parrafo__texto {
  color: var(--GRIS_CLARO); /* Color del texto usando una variable CSS */
  margin: 11px; /* Espaciado exterior alrededor del párrafo */
  padding: 5px; /* Espaciado interior del párrafo */
  font-size: 20px; /* Tamaño de la fuente */
}

.image__burger {
  width: 700px; /* Ancho de la imagen */
  margin: 20px; /* Espaciado exterior alrededor de la imagen */
}

.content__circulos {
  height: 10px; /* Altura del círculo */
  width: 10px; /* Ancho del círculo */
  border-radius: 50%; /* Bordes redondeados para formar un círculo */
  background-color: var(--PAGE__1); /* Color de fondo usando una variable CSS */
  position: relative; /* Posición relativa para ajustar con z-index */
  z-index: 4; /* Nivel de apilamiento (superposición) */
}
