.layout {
  background-color: var(--pagina_fondo); /* Color de fondo de la página */
  display: grid; /* Utiliza un diseño de cuadrícula */
  grid-template-rows: auto 1fr; /* Define dos filas: la primera ajustable y la segunda ocupando el resto del espacio */
  height: 100vh; /* Altura de toda la ventana gráfica */
}

.header {
  display: flex; /* Utiliza flexbox para el diseño */
  justify-content: space-between; /* Espacia los elementos equitativamente */
  align-items: center; /* Alinea los elementos al centro verticalmente */
}

.header__container {
  display: flex; /* Utiliza flexbox para el diseño */
  justify-content: space-between; /* Espacia los elementos equitativamente */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  width: 100%; /* Ancho completo */
  padding: 10px 50px; /* Relleno de 10px arriba y abajo, 50px a los lados */
}

.header__left,
.header__express,
.header__right {
  display: flex; /* Utiliza flexbox para el diseño */
  align-items: center; /* Alinea los elementos al centro verticalmente */
}

.header__logo-img {
  width: 300px; /* Ancho de 300px */
}

.header__express {
  font-family: "Passion One", sans-serif; /* Fuente específica */
  font-size: 10px; /* Tamaño de fuente de 10px */
}

.header__express-icon {
  width: 30px; /* Ancho de 30px */
  margin-right: 10px; /* Margen derecho de 10px */
  color: var(--BLANCO_PURO); /* Color del icono */
}

.header__info {
  font-size: 1.5rem; /* Tamaño de fuente de 1.5rem */
  color: var(--GRIS_TITULOS); /* Color del texto */
}

.header__nav-list {
  display: flex; /* Utiliza flexbox para el diseño */
  gap: 20px; /* Espacio de 20px entre los elementos */
  list-style: none; /* Sin estilo de lista */
  letter-spacing: 5px; /* Espaciado entre letras de 5px */
}

.header__nav-link {
  text-decoration: none; /* Sin subrayado */
  color: var(--SOLO_NEGRO); /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 1rem; /* Tamaño de fuente de 1rem */
  margin: 10px; /* Margen de 10px */
  text-transform: uppercase; /* Texto en mayúsculas */
}

.promo {
  display: grid; /* Utiliza un diseño de cuadrícula */
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  justify-items: center; /* Centra los elementos horizontalmente */
  padding: 0 50px; /* Relleno de 50px a los lados */
  text-align: start; /* Texto alineado a la izquierda */
}

.promo__slogan {
  grid-column: 1 / -1; /* Ocupa ambas columnas */
  text-align: start; /* Texto alineado a la izquierda */
}

.promo__slogan-text {
  font-size: 1.5rem; /* Tamaño de fuente de 1.5rem */
  color: var(--MARRON_OSCURO_PALIDO); /* Color del texto */
  margin-bottom: 10px; /* Margen inferior de 10px */
  margin-left: 10%; /* Margen izquierdo de 10% */
  padding: 10px; /* Relleno de 10px */
  border: solid 1px var(--GRIS_SOMBRA); /* Borde sólido de 1px */
  border-radius: 5px; /* Bordes redondeados de 5px */
  border-width: 2px; /* Ancho del borde de 2px */
  border-style: solid; /* Estilo del borde sólido */
  border-image: repeating-linear-gradient(
      135deg,
      var(--MARRON_OSCURO_PALIDO),
      var(--MARRON_OSCURO_PALIDO) 10px,
      transparent 10px,
      transparent 20px
  ) 1; /* Imagen del borde con gradiente lineal repetido */
}

.promo__left{
  align-items: start; /* Alinea los elementos al principio verticalmente */
}

.promo__title-main {
  font-family: "Anton", sans-serif; /* Fuente específica */
  font-weight: 10; /* Peso de la fuente */
  font-style: normal; /* Estilo normal */
  font-size: 13rem; /* Tamaño de fuente de 13rem */
  color: #3b1900; /* Color del texto */
  margin-left: 50px; /* Margen izquierdo de 50px */
  line-height: 1; /* Altura de línea */
}

.promo__title-main {
  text-shadow: 0px 5px 0px var(--TIRANDO_A_BLANCO); /* Sombra del texto */
}

.promo__title-main {
  transform: translate; /* Transformación de traslación */
  z-index: 1; /* Nivel Z */
}

.promo__title-week {
  font-family: "Anton", sans-serif; /* Fuente específica */
  font-size: 5rem; /* Tamaño de fuente de 5rem */
  color: #3b1900; /* Color del texto */
  margin-top: 0px; /* Margen superior de 0px */
  margin-left: 50px; /* Margen izquierdo de 50px */
  z-index: 1; /* Nivel Z */
}

.promo__title-week {
  text-shadow: 0px 5px 0px var(--TIRANDO_A_BLANCO); /* Sombra del texto */
  z-index: -1; /* Nivel Z */
}

.promo__price{
  position: absolute; /* Posición absoluta */
  margin-top: 200px; /* Margen superior de 200px */
  margin-right: 110px; /* Margen derecho de 110px */
}

.circle {
  height: 150px; /* Altura de 150px */
  width: 150px; /* Ancho de 150px */
  background-color: var(--ROJO); /* Color de fondo */
  border-radius: 50%; /* Bordes redondeados */
  margin-right: 90px; /* Margen derecho de 90px */
  position: absolute; /* Posición absoluta */
  right: 130px; /* Desplazamiento derecho */
  transform: translate; /* Transformación de traslación */
  z-index: 5; /* Nivel Z */
  border-top: 50px; /* Borde superior de 50px */
  padding: 10px; /* Relleno de 10px */
  border-width: 2px; /* Ancho del borde de 2px */
}

.circle__rayas {
  border: 5px dashed var(--BLANCO_PURO); /* Borde discontinuo de 5px */
  height: 130px; /* Altura de 130px */
  width: 130px; /* Ancho de 130px */
  border-radius: 50%; /* Bordes redondeados */
}

.promo__price-text,
.promo__price-text2,
.promo__price-subtext {
  font-family: "Anton", sans-serif; /* Fuente específica */
  color: var(--BLANCO_PURO); /* Color del texto */
}

.promo__price-text {
  font-size: 2.9rem; /* Tamaño de fuente de 2.9rem */
  padding-left: 20px; /* Relleno izquierdo de 20px */
}

.promo__price-text2 {
  font-size: 1.5rem; /* Tamaño de fuente de 1.5rem */
}

.promo__price-subtext {
  font-size: 1.9rem; /* Tamaño de fuente de 1.9rem */
  padding-left: 30px; /* Relleno izquierdo de 30px */
}

.promo_publicidad-imgBurguer {
  margin-top: 200px; /* Margen superior de 200px */
  position: relative; /* Posición relativa */
  box-shadow: 0 -4px 1000px var(--BLANCO_PURO); /* Sombra de la caja */
}

.promo__publicidadBurguer {
  width: 500px; /* Ancho de 500px */
  margin-top: -300px; /* Margen superior negativo de 300px */
  margin-right: -200px; /* Margen derecho negativo de 200px */
  position: absolute; /* Posición absoluta */
  right: 0; /* Desplazamiento derecho */
  top: 50%; /* Desplazamiento superior del 50% */
  transform: translate; /* Transformación de traslación */
  z-index: 3; /* Nivel Z */
  border-top: 50px; /* Borde superior de 50px */
}

.promo__publicidadBurguer::before {
  top: -20px; /* Desplazamiento superior negativo de 20px */
}

.promo__publicidadCola {
  margin-top: -440px; /* Margen superior negativo de 440px */
  margin-right: -200px; /* Margen derecho negativo de 200px */
  position: absolute; /* Posición absoluta */
  margin-left:-20px; /* Margen izquierdo negativo de 20px */
  right: 0; /* Desplazamiento derecho */
  top: 50%; /* Desplazamiento superior del 50% */
  transform: translate; /* Transformación de traslación */
  width: 200px; /* Ancho de 200px */
  z-index: 2; /* Nivel Z */
}

.promo__publicidadPapitas {
  margin-top: -400px; /* Margen superior negativo de 400px */
  margin-right: 130px; /* Margen derecho de 130px */
  position: absolute; /* Posición absoluta */
  right: 0; /* Desplazamiento derecho */
  top: 50%; /* Desplazamiento superior del 50% */
  transform: translate; /* Transformación de traslación */
  width: 300px; /* Ancho de 300px */
  z-index: 1; /* Nivel Z */
  transform: rotate(320deg); /* Rotación de 320 grados */
}

.promo__publicidadPapitas::before {
  top: -20px; /* Desplazamiento superior negativo de 20px */
}
