/* Contenedor principal de la reserva */
.reservation {
  display: flex; /* Utiliza flexbox para el diseño */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  min-height: 100vh; /* Altura mínima de toda la ventana gráfica */
  background-color: var(--BLANCO_PURO); /* Color de fondo */
  font-family: Arial, sans-serif; /* Fuente utilizada */
  position: relative; /* Posición relativa para posicionar elementos dentro */
}

/* Imagen de la botella */
.reservation-image__bottle {
  width: 60px; /* Ancho de 60px */
  position: absolute; /* Posición absoluta */
  margin-right: 500px; /* Margen derecho de 500px */
  /* transform: translate(flex-start); Comentado */
}

/* Imagen de la hamburguesa plana */
.reservation-image__burguerplano {
  width: 220px; /* Ancho de 220px */
  position: absolute; /* Posición absoluta */
  margin-right: 1720px; /* Margen derecho de 1720px */
  margin-top: -500px; /* Margen superior negativo de 500px */
}

/* Imagen de la hamburguesa con papas */
.reservation-image__burguerPapitas {
  width: 500px; /* Ancho de 500px */
  position: absolute; /* Posición absoluta */
  margin-left: 1700px; /* Margen izquierdo de 1700px */
  margin-top: 500px; /* Margen superior de 500px */
}

/* Contenedor del formulario */
.reservation__form-container {
  text-align: center; /* Texto centrado */
}

/* Título de la reserva */
.reservation__title {
  font-size: 2rem; /* Tamaño de fuente de 2rem */
  font-family: "Alfa Slab One", serif; /* Fuente específica */
  font-weight: 900; /* Peso de la fuente */
  color: var(--MARRON_OSCURO_PALIDO); /* Color del texto */
  margin-bottom: 50px; /* Margen inferior de 50px */
}

/* Subtítulo de la reserva */
.reservation__subtitle {
  font-size: 1rem; /* Tamaño de fuente de 1rem */
  color: var(--MARRON_OSCURO_PALIDO); /* Color del texto */
  margin-bottom: 20px; /* Margen inferior de 20px */
}

/* Formulario de reserva */
.reservation__form {
  display: grid; /* Utiliza un diseño de cuadrícula */
  gap: 12px; /* Espacio de 12px entre los elementos */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  margin: 0 auto; /* Centrado automático */
  max-width: 400px; /* Ancho máximo de 400px */
}

/* Campos del formulario */
.reservation__input {
  padding: 10px; /* Relleno de 10px */
  border: 1px solid var(--BLANCO_BORDES); /* Borde sólido de 1px */
  border-radius: 4px; /* Bordes redondeados de 4px */
  font-size: 1rem; /* Tamaño de fuente de 1rem */
  color: #333; /* Color del texto */
}
/* Campo del formulario con color rojo */
.reservation__input--color-red {
  padding: 10px 0; /* Relleno de 10px arriba y abajo, 0 a los lados */
  background-color: var(--ROJO_FLORECENTE); /* Color de fondo */
  color: var(--BLANCO_PURO); /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente de 1rem */
  font-weight: bold; /* Texto en negrita */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados de 4px */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Efecto al pasar el cursor sobre el campo de color rojo */
.reservation__input--color-red:hover {
  background-color: var(--rojo_button_gris); /* Cambio de color de fondo */
}
